body {
    max-width: 500px;
    margin: auto;
}

img {
    width: 100%;
    max-height: 267px;
}


#beginGame{
    background-color: bisque;
    padding: 20px;
    border-radius: 15px;
}
.reboursDiv {
    transition: 0.2s;
    font-size: 15px;
    display: inline-block;
    color: white;
    border-radius: 35px;
    padding: 15px;
    font-weight: bold;
}
.reboursDiv.cool{
    background-color: green;
    
}
.reboursDiv.warning{
    background-color: orange;
 
}

.reboursDiv.danger{
    background-color: red;
    animation: suspens 1s infinite;
    padding: 7px 15px;
}

#gamePropalDiv{
    display: none;
}

@keyframes suspens {
    0%, 100%{
        transform: rotate(0deg);
        font-size: 20px;
    }
    33%{
        transform: rotate(-30deg);
        font-size: 23px;

    }
    66%{
        transform: rotate(30deg);
        font-size: 23px;
    }
}

.confetti{
    width: 10px;
    height: 10px;
    background-color: red;
    animation: falling 5s infinite;
    position:absolute;
    top:-20px;
    z-index: 2;
}

@keyframes falling{
    0%{
        top:-20px;
        transform: rotate(180deg);
    }
    20% {
        transform: translateX(100px) rotate(360deg);
    }
    40%{
        transform: translateX(40px) rotate(180deg);
    }
    50%{
        opacity: 1;
        transform: translateX(20px) rotate(360deg);
    }
    70%{
        opacity: 0.2;
        transform: translateX(30px) rotate(180deg); 
    }
    100%{
        opacity: 0;
        top:100%;
        transform: translateX(20px) rotate(360deg);
    }
}